# Ignora arquivos de ambiente e chaves sensíveis
.env
src/config/serviceAccountKey.json
# Node modules
node_modules/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Sistema operacional
.DS_Store
Thumbs.db
# Arquivos de build temporários
.vercel/
.next/
dist/
build/
# Arquivos de cache
.cache/
.vscode/
